@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: local('Consolas')
}


.gs .ii,
textarea.Ak,
table tbody tbody tr td font,
div[aria-label="Message Body"] {
    font-family: 'Consolas', 'Inconsolata', monospace !important;
    font-size: small !important;
}
