@font-face {
  font-family: 'MyMonospace';
  font-style: normal;
  font-weight: 400;
  src: 
    local('gmail-fixed-width'), /*
      create a copy of your favorite font and rename it using FontForge
      or any similar tool. See this link for more details:
      http://superuser.com/questions/120593/change-ttf-font-name
    */
    local('Inconsolata'),      /* first choice if available */
    local('Consolas'),         /* second choice if available, esp. on windows */
    local('Menlo'),            /* second choice if available, esp. on osx */
    local('DejaVu Sans Mono'), /* second choice if available, esp. on gnu linux distributions */
    /* fallback to download inconsolata, which is free & open source */
    url(//themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

.gs .ii,
textarea.Ak,
table tbody tbody tr td font,
div[aria-label="Message Body"],         /* compose area */
table[aria-role="presentation"] .iA.g6, /* excerpts in conversation view */
tr.zA.yO span.y2,                       /* excerpts in inbox view */
.jj                                     /* gmail offline */
{
    font-family: 'MyMonospace' monospace !important;
    font-size: small !important;
    width: 576px; /* Magic number -- 72 characters = 576 pixels */
    /* 1 character (X) = 8.00000000000007 pixel (X) */
    /*background-image:url('http://i.imgur.com/eNxvJwf.png');
    background-repeat:repeat-y; */ /* This will draw a line at the magic
                                    * number -- not as useful as the 
                                    * above 
                                    */
}
